html,
body {
  margin: 0;
  padding: 0;
}

.note {
  display: inline-block;
  height: 250px;
  width: 250px;
  padding: 1em;
  margin: 1em;
  transform: rotate(1deg);
  font-size: 1.5em;
  background-color: #ffff99;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
}

.note:nth-child(even) {
  transform: rotate(-1deg);
}

.note-title {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1em;
}

.note-content {
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 0.75em;
}

.close-btn {
  position: absolute;
  top: 1;
  right: 1;
  cursor: pointer;
  color: red;
}
