html,
body {
  margin: 0;
  padding: 0;
}

.note {
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  transform: rotate(1deg);
  font-size: 1.5em;
}

.note:nth-child(even) {
  transform: rotate(-1deg);
}

.note-title {
  border: none;
  outline: none;
}

.note-content {
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: transparent;
}

.close-btn {
  float: right;
  cursor: pointer;
  color: red;
}
