* :focus {
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
  font-size: 1em;
  padding: 0.375em 0.75em;
  border: 1px solid transparent;
  color: whitesmoke;
  outline: none;
  line-height: 1.5;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
}

textarea,
input[type='text'],
input[type='button'] {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

#clear-btn {
  background: crimson;
}

#create-btn {
  background: yellowgreen;
}

#save-btn {
  background: dodgerblue;
}

#search {
  position: fixed;
  text-align: center;
  display: inline-block;
  padding: 0.25em 0.25em;
  font-size: 2em;
  background: #2d2d2d;
  color: whitesmoke;
  outline: 0;
  border: 0;
  width: 100%;
  z-index: 1;
}

#search::placeholder {
  color: whitesmoke;
}

#controls {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

#board {
  padding-top: 3em;
}

.note {
  display: inline-block;
  height: 250px;
  width: 250px;
  padding: 1em;
  margin: 1em;
  transform: rotate(1deg);
  font-size: 1.5em;
  background-color: #ffff99;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
}

.note:nth-child(even) {
  transform: rotate(-1deg);
}

.note-title {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.25em;
}

.note-content {
  border: none;
  resize: none;
  outline: none;
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  background: transparent;
  font-size: 0.65em;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 768px) {
  #board {
    text-align: center;
  }
}
